html {
    font-size: 24px;
}

body {
    background-color: #f9d318;
    color: #000;
}

section {
    padding: 15%;
}

a {
   color: #f00; 
}

a :visited {
    color: white;
}

a :hover {
    color: #eee;
}

hr {
    height: 10pt;
    color: #000;
}

table, tr, th, td, caption {
    border: 3px solid #000;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
    text-align: center;
}